@import 'components/index';


* {
  box-sizing: border-box;
}

body {
  background: #1B1B1E;
}

.radial-menu {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px dashed red;
  pointer-events: all;
  .toggle {
    width: 25%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #373F51;
    z-index: 2;
    transition: all .3s ease;
    &.active {
      transform: translate(-50%, -50%) scale(1.1);
      border: 2px solid #D8DBE2;
    }
    color: #D8DBE2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background: #A9BCD0;
    border-radius: 50%;
    transform: rotate(-20deg);
    opacity: 0;
    &.active {
      opacity: 1;
    }
    &:hover {
      cursor: pointer;
    }
    transition: all .1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
  }
  .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border: 2px solid green;
    &.active {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
